body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin: 0px;
}

header{
    text-align: center;
    background-color:rgb(239, 181, 111);
    padding: 20px;
}

nav{
    background-color:rgba(127, 112, 95, 0.663);
    overflow: hidden;
}

nav a{
    display: block;
    padding: 15px 18px;
    float: left;
    color: rgb(255, 203, 141);
    text-decoration: none;
}

nav a:hover{
    background-color:  rgba(89, 64, 32, 0.7);
    color: rgb(251, 179, 90)
}

main{
    margin: 80px;
    margin-bottom: 180px;
}

footer{
    text-align:center;
    background-color: whitesmoke;
    padding: 1px;
    position: fixed;
    bottom: 1px;
    width: 100%;
}
